
body{
  align-items: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 30%;
  height:20rem;
  margin-right:30%;
   margin-left:30%;
    margin-top:6%;
background-color: antiquewhite;
border:2px solid rgb(23, 7, 12);
padding:7px;

}
#firname{
  height:25px;
  width:15rem;
  margin-left:30%;


}
#lastname{
  height:25px;
  width:15rem;
  margin-left:30%;

}

#emailid{
  height:25px;
  width:15rem;
  margin-left:30%;

}

#psw{
  height:25px;
  width:15rem;
  margin-left:30%;


}
firname{
  margin-left:30%;
  margin-right:30%;

}


/* Style the submit button */
input[type=submit] {
  margin-left:30%;



  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
  margin-left:30%;


}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}
